<body>

  <div class="topnav" id="myTopnav">
    <a class="active">Logo</a>
    <b>Sell</b>
    <b>Cart</b>
    <b>Login/SignUp</b>
    <b>About</b>

   <center>
    <form>
    <input type="text" name="search" placeholder="Search.." >
    </form>
    </center>

  </div>

  <div class="second-div">
    <h1>Zapatopia</h1>
  </div>

  <nav>


  </nav>





</body>
