<header> Zotopia </header>

<body>
  <h1><%= @brand %> </h1>
  <div class="topnav" id="myTopnav">
    <a class="active">Logo</a>
    <b>Sell</b>
    <b>Cart</b>
    <b>Login/SignUp</b>
    <b>About</b>

   <center>
    <form>
    <input type="text" name="search" placeholder="Search.." >
    </form>
    </center>

  </body>
  <body>

    <h3> <%= @brand %> </h3>
        <table>
          <tr>
            <th> shoe </th>
            <td><img src='' width="" height=""></img> </td>
          </tr>
          <tr>
            <th>shoe </th>
            <td> <img src='' width="" height=""></img></td>
          </tr>
          <tr>
            <th>shoe</th>
            <td> <img src='' width="" height=""></img></td>
          </tr>


        </table>

  </body>

   -->

<!-- Shoes
t.string :brand


shoe.brand => nike, adidas, reebok, puma -->
